<table class="table">
  <thead>
    <tr>
      <th>Source</th>
      <th>Amount</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody>
    <% @revenue_running_total = 0 %>
    <% if @event.revenues.any? %>
      <% @event.revenues.persisted.each do |revenue| %>
        <tr>
          <td><%= revenue.source %></td>
          <td><%= number_to_currency(revenue.amount) %></td>
          <td><%= link_to "Edit Revenue", edit_event_revenue_path(@event, revenue),
                    class: 'btn btn-sm btn-success' %></td>
          <td><%= link_to "Remove Revenue", [@event, revenue], 
                    method: :delete, 
                    class: "btn btn-sm btn-danger",
                    data: { confirm: 'Are you sure?' } %></td>
          <% @revenue_running_total = @revenue_running_total + revenue.amount %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<h4>Revenue Total: <%= number_to_currency(@revenue_running_total) %></h4>